.home-screen {
  background: rgb(214, 201, 169);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
}

.home-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-top: 96px;
  width: 100%;
}

.home-frame {
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: inline-block;
  height: 400px;
  margin: 0 8px;
  position: relative;
  text-align: center;
  transition: scale 0.3s ease;
  width: 200px;
}

.home-frame-title {
  background-color: rgba(50, 50, 50, 0.8);
  bottom: 16px;
  color: var(--white-color);
  font-size: 12px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 1;
}

.home-img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home-frame {
    height: 48vw;
    margin: 0 1vw;
    width: 31vw;
  }

  .home-frame-title {
    font-size: 10px;
  }
}

@media (max-height: 512px) {
  .home-container {
    padding-top: 72px;
  }

  .home-frame {
    height: 40vh;
    height: 40svh;
    margin: 0 1vw;
    width: 20vh;
    width: 20svh;
  }

  .home-frame-title {
    font-size: 6px;
  }
}

@media (pointer: fine) {
  .home-frame:hover {
    scale: 1.1;
  }
}
