.isLoading-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px auto;
  width: 100%;
}

.isLoading-spinner-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.isLoading-spinner {
  animation: spin 1s linear infinite;
  border: 5px solid var(--primary-orange-100);
  border-radius: 50%;
  border-top: 4px solid var(--white-color-05);
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
