.adminProducts-screen {
  align-items: center;
  background-color: rgb(130, 180, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  min-height: 100vh;
}

.adminProducts-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  max-width: 1000px;
  width: 100%;
}

.adminProducts-title {
  text-align: start;
  width: 100%;
}

.adminProducts-add-container {
  align-items: flex-start;
  background-color: var(--color-5);
  border-left: 2px solid var(--color-6);
  border-right: 2px solid var(--color-6);
  border-top: 2px solid var(--color-6);
  box-shadow: 0 -20px 10px 10px rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  height: 285px;
  justify-content: center;
  padding: 0 8px 8px 8px;
  position: absolute;
  top: 72px;
  width: 512px;
  z-index: 99;
}

.adminProducts-add-input {
  border: 1px solid rgb(214, 201, 169);
  font-size: 12px;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.adminProducts-CreatePictureView {
  background-color: rgb(130, 180, 255);
  width: 100%;
}

.adminProducts-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.adminProducts-product {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 8px;
  height: 184px;
  margin: 2px;
  overflow: hidden;
  padding: 8px;
  white-space: nowrap;
  width: 200px;
}

.adminProducts-product-img {
  height: 100px;
  width: 184px;
}

.adminProducts-btn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.adminProducts-product-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  margin: 4px 0 0 0;
  padding: 0;
  width: 64px;
}

.adminProducts-product-btn:hover {
  filter: brightness(2);
}

.adminProducts-btn-addToProducts-disabled {
  background-color: rgb(95, 0, 0);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  padding: 0;
  top: -40px;
  position: absolute;
  width: 480px;
  z-index: 109;
}

.adminProducts-btn-addToProducts {
  background-color: rgb(0, 185, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  padding: 0;
  top: -40px;
  position: absolute;
  width: 480px;
  z-index: 109;
}

.adminProducts-btn-addToProducts:hover {
  background-color: rgb(0, 255, 0);
}

.bg-green {
  background-color: rgb(0, 128, 0);
}

.bg-red {
  background-color: rgb(128, 0, 0);
}

.bg-cyan {
  background-color: rgb(0, 128, 128);
}

@media screen and (max-width: 1300px), 
       screen and (max-height: 720px) {
  .adminProducts-screen {
    background-color: rgb(145, 0, 0);
    background-image: url("../../assets/minWidthAdmin.webp");
    background-position: center;
    background-size: contain;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    display: block;
    z-index: 199;
    width: 100%;
  }

  .adminProducts-header,
  .adminProducts-title,
  .adminProducts-add-container,
  .adminProducts-container,
  .adminProducts-CreatePictureView {
    left: -2000px;
    position: absolute;
    top: -2000px;
  }

}
