.products-screen {
  align-items: center;
  background-color: rgb(214, 201, 169);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.products-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 72px 0 8px 0;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
}

.products-filter {
  background-color: var(--color-5);
  border-radius: 8px;
  border: 2px solid var(--color-6);
  box-shadow: 0 0 10px 0 rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  padding: 20px;
  width: 20%;
}

.products-filter-sort {
  color: var(--color-1);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  text-shadow: -1px 1px 0 var(--color-6), 1px 1px 0 var(--color-6), 1px -1px 0 var(--color-6),
    -1px -1px 0 var(--color-6);
}

.products-filter-title {
  color: var(--color-2);
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 0;
  text-shadow: -1px 1px 0 var(--color-6), 1px 1px 0 var(--color-6), 1px -1px 0 var(--color-6),
    -1px -1px 0 var(--color-6);
  top: -20px;
}

.products-filter-span {
  font-size: 14px;
  font-weight: 400;
  text-shadow: -1px 1px 0 var(--color-6), 1px 1px 0 var(--color-6), 1px -1px 0 var(--color-6),
    -1px -1px 0 var(--color-6);
}

.products-filter-frame-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.products-filter-frame-divisor {
  align-items: center;
  display: flex;
  height: 33%;
  justify-content: center;
  margin: 0;
  scale: 0.5;
  width: 50%;
}

.products-filter-frame-divisor:nth-child(3) {
  width: 100%;
}

.products-filter-frame {
  align-items: center;
  background-color: rgb(210, 195, 175);
  border: 2px solid var(--color-6);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 96px;
  justify-content: center;
  margin: 0 0 24px 0;
  position: relative;
  transition: all 0.3s ease;
}

.products-filter-frame:hover {
  background-color: var(--color-1);
  scale: 1.1;
}

.products-filter-frame:hover .products-filter-title {
  color: var(--color-1);
  scale: 1.1;
}

.products-filter-active {
  background-color: var(--color-1);
  border: 2px solid var(--color-4);
  cursor: pointer;
}

.products-filter-active .products-filter-title {
  color: var(--color-1);
}

.products-filter-pic-s {
  background-color: var(--color-4);
  height: 32px;
  margin: 0 2px;
  width: 16px;
}

.products-filter-pic-m {
  background-color: var(--color-5);
  height: 40px;
  margin: 0 2px;
  width: 24px;
}

.products-filter-pic-l {
  background-color: var(--color-6);
  height: 48px;
  margin: 0 2px;
  width: 32px;
}

.products-filter-pic-l-thin {
  background-color: var(--color-5);
  height: 48px;
  margin: 0 2px;
  width: 24px;
}

.products-filter-pic-square-l {
  background-color: var(--color-6);
  height: 40px;
  margin: 0 2px;
  width: 40px;
}

.products-filter-pic-circle-l {
  background-color: var(--color-6);
  border-radius: 50%;
  height: 40px;
  margin: 0 2px;
  width: 40px;
}

.products-items {
  align-items: center;
  background-color: var(--color-5);
  border-radius: 8px;
  border: 2px solid var(--color-6);
  box-shadow: 0 0 10px 0 rgb(50, 50, 50);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 8px;
  padding: 20px;
  width: 80%;
}

.products-item {
  background-color: var(--color-6);
  border-radius: 8px;
  color: var(--color-1);
  cursor: pointer;
  height: 256px;
  margin: 12px 8px;
  padding: 4px;
  transition: scale 0.3s ease;
  width: 200px;
}

.products-item:hover {
  scale: 1.1;
}

.products-item-img {
  background-color: var(--white-color);
  border-radius: 8px 8px 0 0;
  height: 112.5px;
  width: 192px;
}

.products-item-name {
  font-size: 20px;
  font-weight: 700;
  text-shadow: -1px 1px 0 var(--black-color), 1px 1px 0 var(--black-color), 1px -1px 0 var(--black-color),
    -1px -1px 0 var(--black-color);
}

.products-item-price {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  text-shadow: -1px 1px 0 var(--black-color), 1px 1px 0 var(--black-color), 1px -1px 0 var(--black-color),
    -1px -1px 0 var(--black-color);
}

.products-openProduct-container {
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-top: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.products-openProduct-items {
  background-color: var(--color-6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 881px;
  padding: 8px;
  width: calc(80vw + 16px);
  z-index: 100;
}

.products-openProduct-close {
  align-items: center;
  background-color: var(--color-6);
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  right: 24px;
  top: 96px;
}

.products-openProduct-img {
  background-color: rgb(196, 179, 144);
  border-radius: 8px 8px 0 0;
  margin: 0 0 8px 0;
  aspect-ratio: 16/9;
}

.products-openProduct-textContainer {
  background-color: rgb(196, 179, 144);
  color: var(--black-color);
  margin-bottom: 8px;
  padding: 4px 8px;
}

.products-openProduct-name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.products-openProduct-price {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.products-openProduct-description {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.products-openProduct-btn {
  align-items: center;
  background-color: rgb(196, 179, 144);
  border-radius: 0 0 8px 8px;
  color: var(--color-6);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  padding: 4px;
}

.products-openProduct-btn:hover {
  background-color: rgb(218, 199, 161);
}

.products-page-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
}

.products-page-btn {
  align-items: center;
  background-color: var(--color-3);
  border-radius: 8px;
  border: 2px solid var(--color-6);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  position: absolute;
  transition: background-color 0.3s ease;
  width: 48px;
}

.products-page-btn:hover {
  background-color: var(--color-1);
}

.products-page-btn-active {
  background-color: var(--color-1);
}

.products-page-btn-arrows {
  width: 80px;
}

.products-page-btn-img {
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

.products-page-btn_-3 {
  margin-right: 344px;
}

.products-page-btn_-2_5 {
  margin-right: 240px;
}

.products-page-btn_-2 {
  margin-right: 208px;
}

.products-page-btn_-1 {
  margin-right: 104px;
}

.products-page-btn_1 {
  margin-left: 104px;
}

.products-page-btn_2 {
  margin-left: 208px;
}

.products-page-btn_3 {
  margin-left: 344px;
}

@media screen and (max-width: 768px) {
  .products-container {
    padding: 144px 0 0 0;
  }

  .products-filter {
    background-color: var(--color-5);
    border: none;
    border-bottom: 2px solid var(--color-6);
    border-radius: 0;
    border-top: 2px solid var(--color-6);
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    margin: 16px 0 0 0;
    padding: 24px 2px 12px 2px;
    position: absolute;
    right: 0;
    top: 64px;
    width: 100%;
  }

  .products-filter-sort {
    display: none;
  }

  .products-filter-title {
    font-size: 10px;
    right: 0;
    text-align: center;
  }

  .products-filter-span {
    display: none;
  }

  .products-filter-frame {
    height: 48px;
    margin: 0 1px;
    width: 13.2vw;
  }

  .products-filter-frame:hover {
    background-color: rgb(210, 195, 175);
    scale: 1;
  }
  
  .products-filter-frame:hover .products-filter-title {
    color: var(--color-2);
    scale: 1;
  }

  .products-filter-frame:active {
    background-color: var(--color-1);
    scale: 1.1;
  }
  
  .products-filter-frame:active .products-filter-title {
    color: var(--color-1);
    scale: 1.1;
  }

  .products-filter-active {
    background-color: var(--color-1);
    border: 2px solid var(--color-4);
    cursor: pointer;
  }
  
  .products-filter-active .products-filter-title {
    color: var(--color-1);
  }

  .products-filter-active:hover {
    background-color: var(--color-1);
    border: 2px solid var(--color-4);
    cursor: pointer;
  }
  
  .products-filter-active:hover .products-filter-title {
    color: var(--color-1);
  }

  .products-items {
    border: none;
    border-bottom: 2px solid var(--color-6);
    border-radius: 0;
    border-top: 2px solid var(--color-6);
    margin: 40px 0 8px 0;
    width: 100%;
  }

  .products-item:hover {
    scale: 1;
  }

  .products-item:active {
    scale: 1.1;
  }

  .products-item-name {
    font-size: 16px;
  }

  .products-item-price {
    font-size: 12px;
  }

  .products-filter-pic-s {
    height: 16px;
    margin: 0 1px;
    width: 8px;
  }

  .products-filter-pic-m {
    height: 20px;
    margin: 0 1px;
    width: 12px;
  }

  .products-filter-pic-l {
    height: 24px;
    margin: 0 1px;
    width: 16px;
  }

  .products-filter-pic-l-thin {
    height: 24px;
    margin: 0 1px;
    width: 12px;
  }

  .products-filter-pic-square-l {
    height: 16px;
    margin: 0 1px;
    width: 16px;
  }

  .products-filter-pic-circle-l {
    border-radius: 50%;
    height: 16px;
    margin: 0 1px;
    width: 16px;
  }

  .products-item {
    border-radius: 0;
    box-shadow: none;
    height: 196px;
    margin: 8px 4px;
    width: 156px;
  }

  .products-item-img {
    border-radius: 0;
    height: 83.25px;
    width: 148px;
  }

  .products-item-title {
    font-size: 12px;
    margin: 5px 0;
  }

  .products-openProduct-container {
    align-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .products-openProduct-items {
    border-radius: 0;
    width: 100%;
    z-index: 100;
  }

  .products-openProduct-close {
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 4px 8px;
  }

  .products-openProduct-img {
    border-radius: 0;
    margin: 0 0 4px 0;
  }

  .products-openProduct-textContainer {
    margin: 0 0 4px 0;
  }

  .products-openProduct-name {
    font-size: 16px;
  }

  .products-openProduct-price {
    font-size: 12px;
  }

  .products-openProduct-description {
    font-size: 12px;
  }

  .products-openProduct-btn {
    border-radius: 0;
    color: var(--color-6);
    font-size: 12px;
    padding: 4px;
  }

  .products-openProduct-btn:hover {
    background-color: rgb(196, 179, 144);
  }

  .products-openProduct-btn:active {
    background-color: rgb(218, 199, 161);
  }

  .products-page-btn {
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    width: 32px;
  }

  .products-page-btn_-3 {
    margin-right: 216px;
  }

  .products-page-btn_-2 {
    margin-right: 144px;
  }

  .products-page-btn_-1 {
    margin-right: 72px;
  }

  .products-page-btn_1 {
    margin-left: 72px;
  }

  .products-page-btn_2 {
    margin-left: 144px;
  }

  .products-page-btn_3 {
    margin-left: 216px;
  }
}
