.login-btn-google {
  align-items: center;
  background-color: rgb(50, 110, 200);
  border-radius: 6px;
  border: none;
  color: var(--white-color-100);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  margin: 10px auto;
  max-width: 200px;
  padding: 4px 12px 4px 4px;
  transition: all 0.3s ease;
  width: 100%;
}

.login-btn-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 6px;
  height: 32px;
  margin-right: auto;
  width: 32px;
}

@media (pointer: fine) {
  .login-btn-google:hover {
    background-color: rgb(66, 133, 244);
  }
}
