.createPicture-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
}

.createPicture-container {
  align-content: flex-start;
  align-items: center;
  background-color: var(--color-5);
  border-radius: 8px;
  border: 2px solid var(--color-6);
  box-shadow: 0 0 10px 0 rgb(50, 50, 50);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 72px 0 8px 0;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  width: 80%;
}

.canvas {
  display: none;
}

.createPicture-title {
  color: var(--white-color);
  text-shadow: -1px 1px 0 var(--color-6), 1px 1px 0 var(--color-6), 1px -1px 0 var(--color-6),
    -1px -1px 0 var(--color-6);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 4px 0;
  text-align: center;
  width: 100%;
}

.createPicture-box {
  align-items: center;
  background-color: var(--color-6);
  border-radius: 8px;
  border: 2px solid var(--color-6);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 256px;
  margin: 8px;
  transition: all 0.3s ease;
  width: 256px;
}

.createPicture-image {
  align-items: center;
  background-color: var(--color-2);
  border-radius: 6px 6px 0 0;
  display: flex;
  height: 180px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.createPicture-picture {
  align-items: center;
  background: linear-gradient(var(--color-4), var(--color-6));
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2px;
}

.createPicture-s {
  height: 60px;
  width: 30px;
}

.createPicture-s-sq {
  height: 30px;
  width: 30px;
}

.createPicture-s-cl {
  border-radius: 50%;
  height: 30px;
  text-align: center;
  width: 30px;
}

.createPicture-m {
  height: 80px;
  width: 40px;
}

.createPicture-ml {
  height: 100px;
  width: 37.5px;
}

.createPicture-m-sq {
  height: 40px;
  width: 40px;
}

.createPicture-m-cl {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
}

.createPicture-l {
  height: 100px;
  width: 50px;
}

.createPicture-l-sq {
  height: 50px;
  width: 50px;
}

.createPicture-l-cl {
  border-radius: 50%;
  height: 50px;
  text-align: center;
  width: 50px;
}

.createPicture-text {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.createPicture-pic-title {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  text-align: center;
}

.createPicture-btn-previus {
  align-items: center;
  background-color: var(--color-6);
  border-radius: 8px;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 56px;
}

.createPicture-box-show-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.createPicture-btn-file-uploaded {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 2px 0;
  width: 90%;
}

.createPicture-btn-file {
  align-items: center;
  background-color: rgb(220, 220, 220);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: dodgerblue;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  margin-left: auto;
  transition: background-color 0.3s ease;
  width: 100%;
}

.createPicture-btn-file-center {
  background-color: rgb(220, 220, 220);
  border-radius: 8px;
  border: thin solid grey;
  color: dodgerblue;
  cursor: pointer;
  font-weight: 700;
  left: 30%;
  padding: 8px;
  position: absolute;
  top: 40%;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 40%;
  z-index: 25;
}

.createPicture-svg {
  height: 20px;
  width: 20px;
}

.createPicture-image-final {
  align-items: center;
  aspect-ratio: 16/9;
  background-color: rgb(214, 201, 169);
  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.createPicture-image-uploaded {
  background-color: var(--color-6);
  position: absolute;
  /* z-index: 100; */
}

.createPicture-container-frames {
  height: 85.666667%;
  position: absolute;
  top: 0;
  width: 85.666667%;
  z-index: 10;
  overflow: hidden;
}

/*    WIDTH & HEIGHT ----> (100 / XXX * 100)    */
/*    MARGIN ----> ( 100 / height * top    0 0     100 / width * left    )    */

.image-cropped {
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
}

.image-cropped-calc {
  position: absolute;
}

.image-cropped-width {
  background-color: rgba(55, 55, 55, 0.8);
  color: rgb(150, 150, 255);
  font-size: 12px;
  padding: 2px;
  position: absolute;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  z-index: 20;
}

.image-cropped-height {
  background-color: rgba(55, 55, 55, 0.8);
  color: rgb(255, 255, 150);
  font-size: 12px;
  padding: 2px;
  position: absolute;
  text-orientation: mixed;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  rotate: 270deg;
  z-index: 20;
}

.image-cropped-left {
  background-color: rgba(55, 55, 55, 0.8);
  color: rgb(255, 150, 255);
  font-size: 12px;
  padding: 2px;
  position: absolute;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  z-index: 20;
}

.image-cropped-top {
  background-color: rgba(55, 55, 55, 0.8);
  color: rgb(150, 255, 255);
  font-size: 12px;
  padding: 2px;
  position: absolute;
  text-orientation: mixed;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  writing-mode: vertical-rl;
  z-index: 20;
}

.image-cropped-radius {
  background-color: rgba(55, 55, 55, 0.8);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 2px;
  position: absolute;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  z-index: 20;
}

.createPicture-image-frame {
  position: absolute;
  top: 0;
  width: 100%;
}

.createPicture-image-frame-plant {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 12;
}

.createPicture-custom-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.createPicture-custom-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 90%;
}

.createPicture-custom-box-container {
  align-items: center;
  border-left: 2px solid var(--color-6);
  border-radius: 8px 8px 0 0;
  border-right: 2px solid var(--color-6);
  border-top: 2px solid var(--color-6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4px;
  width: 90%;
}

.createPicture-custom-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px 0;
  width: 50%;
}

.createPicture-custom-box:nth-child(5) {
  border-top: 2px solid var(--color-6);
  padding-top: 6px;
  width: 100%;
}

.createPicture-custom-title {
  color: var(--white-color);
  font-size: 16px;
  margin-right: 4px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  width: 50px;
}

.createPicture-input-range {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-6);
  border: 2px solid var(--black-color);
  border-radius: 8px;
  height: 6px;
  width: 100px;
}

.createPicture-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-4);
  border-radius: 50%;
  border: 2px solid var(--black-color);
  cursor: pointer;
  height: 20px;
  transition: background-color 0.3s ease;
  width: 20px;
}

.createPicture-input-number {
  background-color: var(--color-6);
  border-radius: 8px;
  border: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  margin-left: 8px;
  padding: 0 5px;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.createPicture-custom-text {
  color: var(--white-color);
  font-size: 12px;
  margin-left: 4px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  width: 50px;
}

.createPicture-btn-add-custom {
  background-color: rgb(50, 200, 50);
  border-radius: 0 0 8px 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: var(--black-color);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 8px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.createPicture-btn-remove-custom {
  background-color: rgb(200, 50, 50);
  border-radius: 0 0 0 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: var(--black-color);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 8px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.createPicture-btn-addToCart {
  align-items: center;
  background-color: var(--color-6);
  border-radius: 8px;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  justify-content: center;
  margin: 8px 0 8px auto;
  transition: background-color 0.3s ease;
  width: 96px;
}

@media (max-width: 768px) {
  .createPicture-container {
    border: none;
    border-bottom: 2px solid var(--color-6);
    border-radius: 0;
    border-top: 2px solid var(--color-6);
    flex-direction: column;
    margin: 72px 0 8px 0;
    min-height: 0;
    padding: 0;
    width: 100%;
  }

  .createPicture-title {
    color: var(--white-color);
    text-shadow: -1px 1px 0 var(--color-6), 1px 1px 0 var(--color-6), 1px -1px 0 var(--color-6),
      -1px -1px 0 var(--color-6);
    font-size: 4vw;
    font-weight: 700;
    margin: 4px 0;
  }

  .createPicture-box {
    border-radius: 0;
    border: none;
    outline: 8px solid var(--color-6);
    margin: 16px 0;
    height: 156px;
    width: 100%;
  }

  .createPicture-image {
    border-radius: 0;
  }

  .createPicture-pic-title {
    font-size: 16px;
    margin: 4px 0 0 0;
  }

  .createPicture-btn-previus {
    border-radius: 0;
    margin: 4px 0 0 0;
    width: 96px;
  }

  .createPicture-box-show-img {
    font-size: 12px;
  }

  .createPicture-btn-file {
    border-radius: 0;
  }

  .image-cropped-width {
    font-size: 8px;
  }

  .image-cropped-height {
    font-size: 8px;
  }

  .image-cropped-left {
    font-size: 8px;
  }

  .image-cropped-top {
    font-size: 8px;
  }

  .createPicture-custom-box-container {
    flex-direction: column;
  }

  .createPicture-custom-box {
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
  }

  .createPicture-custom-box:nth-child(5) {
    border-top: none;
    padding-top: 0;
  }

  .createPicture-custom-title {
    font-size: 12px;
    text-align: center;
    width: 20%;
  }

  .createPicture-input-range {
    width: 60%;
  }

  .createPicture-input-number {
    width: 20%;
  }

  .createPicture-custom-text {
    width: 5%;
  }

  .createPicture-btn-addToCart {
    border-radius: 0;
    padding: 4px 8px;
  }
}

@media screen and (min-height: 720px) and (min-width: 768px) {
  .createPicture-container {
    min-height: 645px;
  }
}

@media (pointer: fine) {
  .createPicture-box:hover {
    filter: brightness(1.2);
    scale: 1.1;
  }

  .createPicture-btn-previus:hover {
    background-color: var(--color-4);
  }

  .createPicture-btn-file:hover {
    background-color: rgb(255, 255, 255);
  }

  .createPicture-btn-file-center:hover {
    background-color: rgb(255, 255, 255);
  }

  .createPicture-input-range::-webkit-slider-thumb:hover {
    background-color: var(--color-5);
  }

  .createPicture-btn-add-custom:hover {
    background-color: rgb(50, 255, 50);
  }

  .createPicture-btn-remove-custom:hover {
    background-color: rgb(255, 50, 50);
  }

  .createPicture-btn-addToCart:hover {
    background-color: var(--color-4);
  }
}
