.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 256px);
  min-height: calc(100svh - 256px);
}

.login-container {
  align-items: center;
  background-color: var(--black-color-05);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 72px 0 8px 0;
  max-width: 400px;
  min-height: 360px;
  min-width: 360px;
  padding: 20px;
  width: 100%;
}

.login-user-img {
  border-radius: 6px;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.login-user-name {
  font-size: 24px;
  font-weight: 400;
  margin: 10px auto;
  text-align: center;
}

.login-user-email {
  font-size: 16px;
  font-weight: 200;
  margin: 10px auto;
  text-align: center;
}

.login-btn {
  align-items: center;
  background-color: var(--primary-red-80);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 200;
  justify-content: center;
  margin: 10px auto;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-alert-text {
  font-size: 16px;
  font-weight: 200;
  margin: 10px auto;
  max-width: 256px;
  text-align: center;
  text-wrap: balance;
}
